{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">
	Database Gusti
</div>
<div class="bloccoAdmin bloccoGusto">
	{{ form_start(form, {'attr': { 'id':'addGustiForm' }}) }}
		<h4>Aggiungi nuovo gusto</h4>
		{{form_row(form.nomeGusto, {  'label':' ', 'attr':{'class': 'ngName', 'placeholder':'Nome del nuovo gusto'}}) }}
		<div class="divGusti">
				{{form_row(form.idTipoGusto, { 'label':' ', 'attr':{'class': 'ngCategory'}}) }} <!--deve essere una select!!-->
				{{form_row(form.colore, { 'label': 'Scegli il colore: ', 'attr':{'class': 'ngColor'}}) }}
				{{form_row(form.save, { 'attr':{'class': 'submitButton', 'value' : 'INSERISCI'}}) }}
		</div>
	{{ form_end(form) }}
</div>
{% endblock %}
