{% extends "::adminBase.html.twig" %}

{% block rightcol %}
<div class="adminTitle">Modifica Dati Gelaterie</div>
	<div class="bloccoAdmin">
		{{form_start(form)}}
			{{form_row(form.nomeGelateria, {'label':'Nome della gelateria', 'attr':{'placeholder':'Nome nuova gelateria'} } )}}
			{{form_row(form.idCitta, {'label':'Seleziona la città' } )}}
			{{form_row(form.indirizzo, {'attr':{'placeholder':'Indirizzo nuova gelateria'}} )}}
			{{form_row(form.telefono, {'label':'Inserisci recapito telefonico'})}}
			<div class="containerGusti">
			<span>Giorni di apertura:</span>
			{{form_row(form.isLunedi, {'label':'Lun'})}}
			{{form_row(form.isMartedi, {'label':'Mar'})}}
			{{form_row(form.isMercoledi, {'label':'Mer'})}}
			{{form_row(form.isGiovedi, {'label':'Gio'})}}
			{{form_row(form.isVenerdi, {'label':'Ven'})}}
			{{form_row(form.isSabato, {'label':'Sab'})}}
			{{form_row(form.isDomenica, {'label':'Dom'})}}
		</div>
			<div class="containerGusti">
				<h5>Seleziona i gusti disponibili:</h5>
				{{form_row(form.gusti, {'label':' '})}}
			</div>
			{{form_row(form.INSERISCI, {'attr':{'value':'INSERISCI', 'class':'submitButton'}})}}
			{{form_widget(form)}}
		{{form_end(form)}}
	</div>
</div>
{% endblock %}
