<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Marco Lancellotti, Giacomo Marolla" />
        <meta name="description" content="Trova il tuo gelato con un click!" />
        <title>{% block title %}IceQui{% endblock %}</title>
        <link rel="icon" type="image/png" href="http://www.marcolanci.it/icequi/img/logo.png" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stile.css') }}" />
        {% block stylesheets %}
        <style>
		      html{
			         overflow-y: hidden;
		           }
		    </style>
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
          <div id="hpTopBar">
            <nav>
          {% if is_granted('ROLE_USER') %}
            <a href="{{ url('admin')}}" title="Registrati" id="reg">marco@taginnovationschool.it</a>
            <span> &#124; </span><a href="{{ url('favorites')}}" title="Visualizza le gelaterie preferite">&#127775;</a><span> &#124; </span>
            <a href="/logout" title="Effettua il logout">Logout</a>
          {% else %}
            <a href="#" title="Registrati" id="reg">Registrati</a>
            <span> &#124; </span>
            <a href="/login" title="Effettua il login" id="log">Login</a>
          {% endif %}
            </nav>
          </div>
          <div id="headerBanner">
            <a href="{{url('homepage')}}">
            <img id="headerLogo" src="http://www.marcolanci.it/icequi/img/whitelogo.png" alt="iceQuiLogo" />
            </a>
          </div>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
          <footer>
            <nav>
              <ul>
                <li><a href="{{ url('chisiamo') }}">Chi Siamo</a></li>
                <li><a href="{{ url('contatti') }}">Contatti</a></li>
                <li><a href="{{ url('privacy') }}">Privacy Policy</a></li>
                <li><a href="{{ url('segnala') }}">Segnala nuova gelateria</a></li>
              </ul>
            </nav>
          </footer>
        {% endblock %}
        {% block popups %}
        <div class="layer" id="layer">
              <section class="popup">
                <div id="signUpPopUp">
                  <div class="closePP" id="signUpClose"></div>
                    <h2>BENVENUTO SU</h2>
                    <img src="http://www.marcolanci.it/icequi/img/whitelogo.png" alt="iceQui Logo" class="popupLogo" />
                    <form name="signUpForm" method="get" action="<?= $_SERVER['PHP_SELF'] ?>" />
                      <input type="hidden" name="logged" value="1" />
                      <input type="mail" name="user" placeholder="E-mail" class="greyInput" /><br />
                      <input type="password" name="psw1" placeholder="Password" class="greyInput" /><br />
                      <input type="password" name="psw2" placeholder="Ripeti Password" class="greyInput" /><br />
                      <input type="submit" class="submitButton" value="REGISTRATI" />
                    </form>
                  <div class="popupFooter">
                    OPPURE REGISTRATI CON FACEBOOK <a href="http://www.facebook.com" target="_blank"><img src="http://www.marcolanci.it/icequi/img/fblogin.png" alt="Facebook LogIn" /></a>
                  </div>
                </div>
                <div id="signInPopUp">
                  <!-- questa parte la prende da app\Resources\FOSUserBundle\views\Security\login.html.twig-->
                </div>
                <div id="inviteFriendsPopUp">
                  <div class="closePP" id="inviteFriendsClose"></div>
                    <h2>INVITA I TUOI AMICI:</h2>
                    <img src="http://www.marcolanci.it/icequi/img/whitelogo.png" alt="iceQui Logo" class="popupLogo" />
                    <form name="inviteFriendsForm" method="post" action="invita.php" />
                      <input type="mail" name="mail1" placeholder="E-mail amico 1" class="greyInput" /><br />
                      <input type="mail" name="mail2" placeholder="E-mail amico 2" class="greyInput" /><br />
                      <input type="mail" name="mail3" placeholder="E-mail amico 3" class="greyInput" /><br />
                      <input type="mail" name="mail4" placeholder="E-mail amico 4" class="greyInput" /><br />
                      <input type="mail" name="mail5" placeholder="E-mail amico 5" class="greyInput" /><br />
                      <input type="submit" class="submitButton" value="INVITA!" />
                  </form>
                </div>
              </section>
            </div>
        {% endblock %}
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
