<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Marco Lancellotti, Giacomo Marolla" />
        <meta name="description" content="Trova il tuo gelato con un click!" />
        <title>{% block title %}IceQui{% endblock %}</title>
        <link rel="icon" type="image/png" href="http://www.marcolanci.it/icequi/img/logo.png" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stile.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/admin.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stileFooter.css') }}" />
        <style>html{ overflow-y: auto; }</style>
    </head>
    <body>
        {% block header %}
        <header>
        	<div id="hpTopBar">
        		<nav>
        			<a href="{{ url('admin')}}" title="Registrati" >Admin</a>
        			<span> &#124; </span><a href="{{ url('favorites')}}" title="Visualizza le gelaterie preferite">&#127775;</a><span> &#124; </span>
        			<a href="\logout" title="Effettua il logout" id="log">Logout</a>
        		</nav>
        	</div>
        	<div id="headerBanner">
        		<a href="{{ url('homepage')}}">
        		<img id="headerLogo" src="http://www.marcolanci.it/icequi/img/whitelogo.png" />
        		</a>
        	</div>
        </header>
        {% endblock %}
        <div class="impostazionimain">
        	<h3>IMPOSTAZIONI ACCOUNT</h3>
        		<div class="impwrap">
              {% block section %}{% endblock %}
            </div>
        </div>
        {% block footer %}
          <footer>
            <nav>
              <ul>
                <li><a href="{{ url('chisiamo') }}">Chi Siamo</a></li>
                <li><a href="{{ url('contatti') }}">Contatti</a></li>
                <li><a href="{{ url('privacy') }}">Privacy Policy</a></li>
                <li><a href="{{ url('segnala') }}">Segnala nuova gelateria</a></li>
              </ul>
            </nav>
          </footer>
        {% endblock %}
        {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://www.marcolanci.it/icequi/js/script.js"></script>
        {% endblock %}
    </body>
</html>
