{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
	header{position: static}
	html {overflow-y: auto}
</style>
{% endblock %}

{% block body %}
<div id="results">
	<header id="resultHeader">
		<h1><span>1</span> Gelateria Trovata     </h1>
		<h6 id="ricerca" onclick="giraFreccia()">Cerca</h6><img src="{{asset('img/downArrow.png')}}" alt="downArrow" id="arrow" onclick="giraFreccia();" />
		<hr />
	</header>
	<section id="searchPanel">
		<form name="searchForm" method="post" action="{{url('search')}}">
			<div id="searchFormWrapper">
				<div class="searchFormColumn">
					<select name="gusto1">
						<option value=0>Nessun Gusto</option>
						{% for gusto in gusti %}
						<option value={{gusto.id}}>{{gusto.nomeGusto}}</option>
						{% endfor %}
					</select><br />
					<select name="region" id="searchRegion">
						<option value=0>Regione</option>
						{% for regione in regioni %}
						<option value={{regione.id}}>{{regione.nomeRegione}}</option>
						{% endfor %}
					</select><br />
					<select name="day1">
						<option>Indifferente</option>
						{% for giorno in giorni %}
						<option>{{giorno}}</option>
						{% endfor %}
					</select><br />
				</div>
				<div class="searchFormColumn">
					<select name="gusto2">
						<option value=0>Nessun Gusto</option>
						{% for gusto in gusti %}
						<option value={{gusto.id}}>{{gusto.nomeGusto}}</option>
						{% endfor %}
					</select><br />
					<div id="searchProvinceSection">
					<select name="province" disabled>
						<option>Provincia</option>
					</select><br />
					</div>
					<select name="day2">
						<option>Indifferente</option>
						{% for giorno in giorni %}
						<option>{{giorno}}</option>
						{% endfor %}
					</select><br />
				</div>
				<div class="searchFormColumn">
					<select name="gusto3">
						<option value=0>Nessun Gusto</option>
						{% for gusto in gusti %}
						<option value={{gusto.id}}>{{gusto.nomeGusto}}</option>
						{% endfor %}
					</select>
					<div id="searchCitySection">
					<select name="city" disabled>
						<option>Citt&agrave;</option>
					</select>
					</div>
					<select name="day3">
						<option>Indifferente</option>
						{% for giorno in giorni %}
						<option>{{giorno}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="searchFormColumn">
					<input type="submit" value="CERCA" class="submitButton" />
				</div>
			</div>
		</form>
	</section>
	<section class="resultSection">
		<div class="resultInfo">
			<h2>1. Bar "La Golosa"</h2>
			<p class="address">Corso Numistrano, 12 - Lamezia Terme(CZ)</p>
			<p class="tel">0968 25556</p>
		</div>
		<div class="resultIcon">
			<div><img src="{{asset('img/visualizzaGusti.png')}}" alt="Visualizza i Gusti" title="Visualizza i Gusti" class="imgGusti" /></div>
			<div><img src="{{asset('img/yellowStar.png')}}" alt="Aggiungi ai preferiti" title="Aggiungi ai preferiti" onclick="changePic(this)" /></div>
			<div><img  class="invita" src="{{asset('img/inviteFriends.png')}}" alt="Invita amici" title="Invita amici" /></div>
		</div>
	</section>
	<div class="impaginatore"><a href="#">1</a> <a href="#">>></a> <a href="#">1</a></div>
</div>

<div class="layer" id="layerGusti">
	<section class="popup">
		<div id="popupGusti">
			<div class="closePP" id="gustiClose"></div>
			<h2>IN QUESTA GELATERIA PUOI TROVARE</h2>
			<!-- il colore deve cambiare dinamicamente -->
			<div class="flavoursWrapper">
			<p><span class="gelatini" style="color: green;">&#127846;</span>Pistacchio</p>
			<p><span class="gelatini" style="color: brown">&#127846;</span>Cacao</p>
			<p><span class="gelatini" style="color: red">&#127846;</span>Fragola</p>
			<p><span class="gelatini" style="color: cyan">&#127846;</span>Puffo</p>
			<p><span class="gelatini" style="color: lightyellow">&#127846;</span>Ananas</p>
			<p><span class="gelatini" style="color: yellow">&#127846;</span>Banana</p>
			<p><span class="gelatini" style="color: bordeaux">&#127846;</span>Amarena</p>
			<p><span class="gelatini" style="color: red">&#127846;</span>Mela Rossa</p>
			<p><span class="gelatini" style="color: white">&#127846;</span>Stracciatella</p>
			<p><span class="gelatini" style="color: pink">&#127846;</span>Prosciutto</p>
			<p><span class="gelatini" style="color: #0ABAB5">&#127846;</span>Carofiglio</p>
			<p><span class="gelatini" style="color: purple">&#127846;</span>Prugna</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}
