{% extends 'base.html.twig' %}

{% block body %}
<aside>
	<nav>
		<a href="#explained"><div id="cerchio1" class="circle current"></div></a>
		<a href="#iceCreamSection"><div id="cerchio2" class="circle"></div></a>
		<a href="#cityForm"><div id="cerchio3" class="circle"></div></a>
		<a href="#daysForm"><div id="cerchio4" class="circle"></div></a>
	</nav>
</aside>
<div id="hpMain">
			<section id="explained" class="hpSection">
				<h1 id="titolo">CERCHI UN GELATO<wbr> E NON SAI DOVE TROVARLO?</h1>
				<div id="iconBox">
					<div>
						<img src="{{asset('img/coppetta.png')}}" alt="Icona1" class="hpIcon"/>
						<p>Scegli da uno a tre gusti,</p>
					</div>
					<div>
						<img src="{{asset('img/map.png')}}" alt="Icona2" class="hpIcon"/>
						<p>imposta la tua citt&agrave;..</p>
					</div>
					<div>
						<img src="{{asset('img/friends.png')}}" alt="Icona3" class="hpIcon"/>
						<p>e invita i tuoi amici!</p>
					</div>
				</div>
				<a href="#iceCreamSection"><div class="hpBlueButton" id="startButton">INIZIA RICERCA</div></a>
			</section>
			<form method="post" action="{{ url ('search') }}" name="hpForm">
				<section id="iceCreamSection" class="hpSection">
					<div class="hpFormWrapper">
						<div class="hpColumn">
							<h2>SCEGLI I GUSTI</h2>
							<div class="hpForm">
								<select name="gusto1">
									<option value=0>Nessuno</option>
									{% for gusto in gusti %}
									<option value="{{gusto.id}}">{{gusto.nomeGusto}}</option>
									{% endfor %}
								</select><br />
								<select name="gusto2">
									<option value=0>Nessuno</option>
									{% for gusto in gusti %}
									<option value="{{gusto.id}}">{{gusto.nomeGusto}}</option>
									{% endfor %}
								</select><br />
								<select name="gusto3">
									<option value=0>Nessuno</option>
									{% for gusto in gusti %}
									<option value="{{gusto.id}}">{{gusto.nomeGusto}}</option>
									{% endfor %}
								</select><br />
							</div>
						</div>
						<div class="hpColumn">
							<img src="{{asset('img/coppetta.png')}}" /><br />
							<a href="#cityForm"><div class="blueButton" id="cityButton">CONTINUA</div></a>
						</div>
					</div>
				</section>
				<section id="cityForm" class="hpSection">
					<div class="hpFormWrapper">
						<div class="hpColumn">
							<h2>SCEGLI DOVE</h2>
							<div class="hpForm">
								<select name="hpRegione" id="hpRegionsSelect">
									<option value=0>Regione</option>
									{% for regione in regioni %}
									<option value="{{regione.id}}">{{regione.nomeRegione}}</option>
									{% endfor %}
								</select><br />
								<div id="hpProvinceSection">
									<select name="hpProvincia" disabled>
										<option value=0>Provincia</option>
									</select><br />
								</div>
								<div id="hpCitySection">
									<select name="city" disabled>
										<option value=0>Citt&agrave;</option>
									</select><br />
								</div>
							</div>
						</div>
						<div class="hpColumn">
							<img src="{{asset('img/map.png')}}" /><br />
							<a href="#daysForm"><div id="daysButton" class="blueButton">CONTINUA</div></a>
						</div>
					</div>
				</section>
				<section id="daysForm" class="hpSection">
					<div class="hpFormWrapper">
						<div class="hpColumn">
							<h2>SCEGLI  GIORNI</h2>
							<div class="hpForm">
								<select name="day1">
									<option value=0>Nessuno</option>
									{% for giorno, num in giorni %}
									<option value="{{num}}">{{giorno}}</option>
									{% endfor %}
								</select><br />
								<select name="day2">
									<option value=0>Nessuno</option>
									{% for giorno, num in giorni %}
									<option value="{{num}}">{{giorno}}</option>
									{% endfor %}
								</select><br />
								<select name="day3">
									<option value=0>Nessuno</option>
									{% for giorno, num in giorni %}
									<option value="{{num}}">{{giorno}}</option>
									{% endfor %}
								</select><br />
							</div>
						</div>
						<div class="hpColumn">
							<img src="{{asset('img/days.png')}}" /><br />
							<input type="submit" value="CERCA!" class="submitButton"/>
						</div>
					</div>
				</section>
			</form>
		</div>
{% endblock %}
