{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
	header{position: static}
	html {overflow-y: auto}
</style>
{% endblock %}

{% block body %}
<div id="results">
	<header id="resultHeader">
		<h1><span>2</span> Gelaterie Trovate     </h1>
		<h6 id="ricerca" onclick="giraFreccia()">Cerca</h6><img src="{{asset('img/downArrow.png')}}" alt="downArrow" id="arrow" onclick="giraFreccia();" />
		<hr />
	</header>
	<section id="searchPanel">
		<form name="searchForm" method="post" action="{{url('search')}}">
			<div id="searchFormWrapper">
				<div class="searchFormColumn">
					<select name="gusto1">
						<option value=0>Nessun Gusto</option>
						{% for gusto in gusti %}
						<option value={{gusto.id}}>{{gusto.nomeGusto}}</option>
						{% endfor %}
					</select><br />
					<select name="region" id="searchRegion">
						<option value=0>Regione</option>
						{% for regione in regioni %}
						<option value={{regione.id}}>{{regione.nomeRegione}}</option>
						{% endfor %}
					</select><br />
					<select name="day1">
						<option value="nessuno">Indifferente</option>
						{% for giorno, num in giorni %}
						<option value="{{num}}">{{giorno}}</option>
						{% endfor %}
					</select><br />
				</div>
				<div class="searchFormColumn">
					<select name="gusto2">
						<option value=0>Nessun Gusto</option>
						{% for gusto in gusti %}
						<option value={{gusto.id}}>{{gusto.nomeGusto}}</option>
						{% endfor %}
					</select><br />
					<div id="searchProvinceSection">
					<select name="province" disabled>
						<option>Provincia</option>
					</select><br />
					</div>
					<select name="day2">
						<option value="nessuno">Indifferente</option>
						{% for giorno, num in giorni %}
						<option value="{{num}}">{{giorno}}</option>
						{% endfor %}
					</select><br />
				</div>
				<div class="searchFormColumn">
					<select name="gusto3">
						<option value=0>Nessun Gusto</option>
						{% for gusto in gusti %}
						<option value={{gusto.id}}>{{gusto.nomeGusto}}</option>
						{% endfor %}
					</select>
					<div id="searchCitySection">
					<select name="city" disabled>
						<option>Citt&agrave;</option>
					</select>
					</div>
					<select name="day3">
						<option value="nessuno">Indifferente</option>
						{% for giorno, num in giorni %}
						<option value="{{num}}">{{giorno}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="searchFormColumn">
					<input type="submit" value="CERCA" class="submitButton" />
				</div>
			</div>
		</form>
	</section>


		{% for gel in gelaterieTrovate %}
	<section class="resultSection">
		<div class="resultInfo">
			<h2>{{ gel.nomeGelateria }}</h2>
			<p class="address">{{ gel.indirizzo }} - {{ gel.idCitta.nomeCitta }}</p>
			<p class="tel">{{ gel.telefono }}</p>
		</div>
		<div class="resultIcon">
			<div><img src="{{asset('img/visualizzaGusti.png')}}" alt="Visualizza i Gusti" title="Visualizza i Gusti" class="imgGusti" /></div>
			<div><img src="{{asset('img/favoriteStar.png')}}" alt="Aggiungi ai preferiti" title="Aggiungi ai preferiti" onclick="changePic(this)" /></div>
			<div><img  class="invita" src="{{asset('img/inviteFriends.png')}}" alt="Invita amici" title="Invita amici" /></div>
		</div>
	</section>
		{% endfor %}

	<section class="resultSection greyBG">
		<div class="resultInfo">
			<h2>2. Bar "La Golosa"</h2>
			<p class="address">Corso Numistrano, 12 - Lamezia Terme(CZ)</p>
			<p class="tel">0968 25556</p>
		</div>
		<div class="resultIcon">
			<div><img src="{{asset('img/visualizzaGusti.png')}}" alt="Visualizza i Gusti" title="Visualizza i Gusti" class="imgGusti" /></div>
			<div><img src="{{asset('img/yellowStar.png')}}" alt="Rimuovi dai preferiti" title="Rimuovi dai preferiti" onclick="changePic(this)" /></div>
			<div><img  class="invita" src="{{asset('img/inviteFriends.png')}}" alt="Invita amici" title="Invita amici" /></div>
		</div>
	</section>
	<div class="impaginatore"><a href="#">1</a> <a href="#">>></a> <a href="#">1</a></div>
</div>

<div class="layer" id="layerGusti">
	<section class="popup">
		<div id="popupGusti">
			<div class="closePP" id="gustiClose"></div>
			<h2>IN QUESTA GELATERIA PUOI TROVARE</h2>
			<!-- il colore deve cambiare dinamicamente -->
			<div class="flavoursWrapper">
				{% for gusto in gusti %}
					<p><span class="gelatini" style="color: {{gusto.colore}};">&#127846;</span> {{gusto.nomeGusto}}</p>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}
