{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="closePP" id="signInClose"></div>
  <h2>BENTORNATO SU</h2>
  <img src="http://www.marcolanci.it/icequi/img/whitelogo.png" alt="iceQui Logo" class="popupLogo" />
<form action="{{ path("fos_user_security_check") }}" method="post" name="signInForm" id="signInForm">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username" class="greyInput" /><br />
    <input type="password" id="password" name="_password" required="required" placeholder="Password" class="greyInput" /><br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br /><br />
    <p><a style="color:#fff" id="forgotten" href="/resetting/request">Password Dimenticata?</a></p><br />

    <input type="submit" id="_submit" name="_submit" class="submitButton" value="{{ 'security.login.submit'|trans }}" />
</form>
<div id="forgottenForm" style="margin:0; padding:0">
  <!-- qui c'è un'altra chiamata asincrona-->
</div>
</div>
<div class="popupFooter">
  OPPURE REGISTRATI CON FACEBOOK <a href="http://www.facebook.com" target="_blank"><img src="http://www.marcolanci.it/icequi/img/fblogin.png" alt="Facebook LogIn" /></a>
</div>
<script src="{{ asset('/js/script.js') }}"></script>
